extends ../layouts/default

	
block content
	.container-fluid
		.row.header
			img.img-responsive.banner(src="/images/yurt-interior.jpg")
			.header-content
				h1.text-center Yurt Man Gallery
	.container
		if galleries.length
			each gallery in galleries
				h2= gallery.name
					if gallery.publishedDate
						.pull-right.text-muted= gallery._.publishedDate.format('Do MMM YYYY')
				
				.row.gallery-images
					if gallery.heroImage.exists
						.col-sm-4.col-md-4.gallery-image: img.img-responsive(src=gallery._.heroImage.limit(680,680))
						.col-sm-8.col-md-8: .row
							each image in gallery.images
								.col-xs-4.col-sm-4.col-md-3.gallery-image: img.img-responsive.img-rounded(src=image.limit(300,300))
					else
						each image in gallery.images
							.col-xs-6.col-sm-4.col-md-3.gallery-image: img.img-responsive.img-rounded(src=image.limit(300,300))
		else
			h3.text-muted There are no image galleries yet.
