extends ../layouts/default

block content
	.container-fluid
		.row.header
			img.img-responsive.banner(src="/images/yurt-pieces.jpg")
			.header-content
				h1.text-center= data.yurt.title
					| 
					span.small= data.yurt.price
	.container
		article.row
			if !data.yurt
				h2 Invalid Yurt.
			else
				.col-sm-4.up.text-center
					if data.yurt.image.exists
						.image-wrap: img(src=data.yurt._.image.thumbnail(750,750)).img-responsive.circle-750.
					
				.extras.col-sm-8
					h2 About
					p!= data.yurt.content.full
					h3 Construction Options
					p below is a list of options that can be used with this type of yurt. 
					| For enquiries about a yurt like this with the options of your choice,
					| simply click on the options you'd like before clicking the big 'I want it'
					| button at the bottom of the screen.
					ul.list-unstyled
						each i in data.yurt.extras
							li
								.extra
									if i.name
										h4= i.name
										.image-wrap: img(src=i._.image.fit(450,450))
										.description
											!= i.description
		.row
			.col-sm-12
				h3 See another Yurt Model
				.btn-group
					each y in data.yurts
						a.btn.btn-default(href='/yurts/'+y.key)= y.title
								
								
								
